body {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 75px;
}

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 10px;
}

.main-nav {
  display: flex;
  margin: 0;
  padding: 0;
}

.main-nav li {
  list-style: none;
  margin-top: 0;
}

.main-nav li:first-child {
  margin-right: auto;
}

.main-nav a {
  color: black;
  display: block;
  border-radius: 0px;
  padding: 10px;
  margin-top: 16px;
  text-decoration: none;
  font-family: "Avenir Next", "Avenir Next Cyr", "Open Sans", sans-serif;
}

.logo {
  padding: 0 !important;
  margin-top: 18px !important;
}

.contact-us {
  color: #4E6CE5 !important;
  border-radius: 50px !important;
  margin-top: 9px !important;
  border: 2px solid #4E6CE5;
  -webkit-transition: all 0.3s ease;
  ;
  -o-transition: all 0.3s ease;
  ;
  transition: all 0.3s ease;
  ;
}

.contact-us:hover {
  color: #FFF !important;
  background: #4E6CE5;
}

.advantages {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  font-family: "Avenir Next", "Avenir Next Cyr", "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
}

.reliability {
  height: 250px;
  border-radius: 50px;
  -webkit-box-shadow: 0 5px 5px rgba(230, 236, 248, 0.75), inset 0 10px 0 rgba(78, 108, 229, 1);
  box-shadow: 0 5px 5px rgba(230, 236, 248, 0.75), inset 0 10px 0 rgba(78, 108, 229, 1);
}

.quality {
  height: 250px;
  border-radius: 50px;
  -webkit-box-shadow: 0 5px 5px rgba(230, 236, 248, 0.75), inset 0 10px 0 rgba(78, 108, 229, 1);
  box-shadow: 0 5px 5px rgba(230, 236, 248, 0.75), inset 0 10px 0 rgba(78, 108, 229, 1);
}

.speed {
  height: 250px;
  border-radius: 50px;
  -webkit-box-shadow: 0 5px 5px rgba(230, 236, 248, 0.75), inset 0 10px 0 rgba(78, 108, 229, 1);
  box-shadow: 0 5px 5px rgba(230, 236, 248, 0.75), inset 0 10px 0 rgba(78, 108, 229, 1);
}

span {
  font-family: "Avenir Next", "Avenir Next Cyr", "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 500;
}

.hero {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  font-family: "Avenir Next", "Avenir Next Cyr", "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
}

h1 {
  font-family: "Avenir Next", "Avenir Next Cyr", "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  line-height: 40px;
}

.about-bg {
  width: 100%;
  height: 263px;
  background: #4E6CE5;
}

.about {
  width: 100%;
  height: 263px;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  font-family: "Avenir Next", "Avenir Next Cyr", "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
  color: #FFF;
}

h2 {
  font-family: "Avenir Next", "Avenir Next Cyr", "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  color: #FFF;
}

.work {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.work-bg {
  -webkit-box-shadow: 0 5px 5px rgba(230, 236, 248, 0.5);
  box-shadow: 0 5px 5px rgba(230, 236, 248, 0.5);
  background: #FFF;
  border-radius: 50px;
  height: 747px;
  border: 1px solid #E6ECF8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.design {
  border-right: 1px solid #E6ECF8;
  padding-top: 72px;
  font-family: "Avenir Next", "Avenir Next Cyr", "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
}

.code {
  padding-top: 72px;
  font-family: "Avenir Next", "Avenir Next Cyr", "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
}

.mentor {
  border-left: 1px solid #E6ECF8;
  padding-top: 72px;
  font-family: "Avenir Next", "Avenir Next Cyr", "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
}

h3 {
  font-family: "Avenir Next", "Avenir Next Cyr", "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin: 24px auto;
  color: #000;
}

.design h4 {
  font-family: "Avenir Next", "Avenir Next Cyr", "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
  color: #4E6CE5;
  margin: 50px 8px auto;
}

.code h4 {
  font-family: "Avenir Next", "Avenir Next Cyr", "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
  color: #4E6CE5;
  margin: 50px 8px auto;
}

.mentor h4 {
  font-family: "Avenir Next", "Avenir Next Cyr", "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
  color: #4E6CE5;
  margin: 50px 8px auto;
}

.section-contact {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.input {
  font-family: "Avenir Next", "Avenir Next Cyr", "Open Sans", sans-serif;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid #E6ECF8;
  height: 50px;
  width: 100%;
  padding: 0;
  margin: 0;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.placeholder {
  color: rgba(41, 51, 71, 0.65);
  font-family: "Avenir Next", "Avenir Next Cyr", "Open Sans", sans-serif;
  font-size: 17px;
}

.input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.name-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

textarea {
  font-family: "Avenir Next", "Avenir Next Cyr", "Open Sans", sans-serif;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid #E6ECF8;
  height: 150px;
  width: 100%;
  line-height: 50px;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.submit {
  margin: 33px auto;
  display: block;
  padding: 10px 0;
  text-decoration: none;
  font-family: "Avenir Next", "Avenir Next Cyr", "Open Sans", sans-serif;
  font-size: 17px;
  color: #4E6CE5;
  border-radius: 50px;
  border: 2px solid #4E6CE5;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 200px;
  text-align: center;
  background: #FFF;
  cursor: pointer;
  -webkit-appearance: none;
}

.submit:hover {
  color: #FFF !important;
  background: #4E6CE5;
}

footer {
  box-sizing: border-box;
  margin: 0;
  margin-top: 33px;
  padding: 0;
  width: 100%;
  height: 100px;
  background-color: #4E6CE5;
  font-family: "Avenir Next", "Avenir Next Cyr", "Open Sans", sans-serif;
  font-size: 17px;
  color: #FFF;
  text-align: center;
  padding-top: 39px;
}
.MT {
  margin-top: 10px;
}
@media screen and (max-width: 337px) {
  footer {
    padding-top: 27px;
  }
}

@media screen and (max-width: 1020px) {
  .about-bg {
    height: 293px;
  }
}

@media screen and (max-width: 727px) {
  .about-bg {
    height: 323px;
  }
}

@media screen and (max-width: 590px) {
  .about-bg {
    height: 353px;
  }
}

@media screen and (max-width: 508px) {
  .about-bg {
    height: 383px;
  }
}

@media screen and (max-width: 486px) {
  .about-bg {
    height: 413px;
  }
}

@media screen and (max-width: 443px) {
  .about-bg {
    height: 443px;
  }
}

@media screen and (max-width: 394px) {
  .about-bg {
    height: 473px;
  }
}

@media screen and (max-width: 365px) {
  .about-bg {
    height: 503px;
  }
}

@media screen and (max-width: 352px) {
  .about-bg {
    height: 533px;
  }
}

@media screen and (max-width: 352px) {
  .about-bg {
    height: 533px;
  }
}

@media screen and (max-width: 301px) {
  body>* {
    display: none !important;
  }
}

@media screen and (max-width: 890px) {
  .work-bg {
    grid-template-columns: 1fr;
    height: 2241px;
  }
  .design {
    border-right: 0;
    border-bottom: 1px solid #E6ECF8;
  }
  .code {
    border-bottom: 1px solid #E6ECF8;
  }
  .mentor {
    border-left: 0;
  }
  .advantages {
    grid-template-columns: 1fr;
  }
  .name-email {
    grid-template-columns: 1fr !important;
  }
  .placeholder {
    margin-left: 5%;
  }
  .MT {
    margin-top: 0 !important;
  }
  .submit {
    width: 90% !important;
  }
  textarea {
    width: 90% !important;
    margin-left: 5%;
  }
  .input {
    width: 90% !important;
    float: right;
    margin-right: 5%;
  }
  .contact-us {
    display: none !important;
  }
  .main-nav li:first-child {
    margin: 0 auto !important;
  }
}
