body {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 75px;
}

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  margin: 0;
  padding: 0;
}

.main-nav li {
  list-style: none;
  margin-top: 0;
}

.main-nav li:first-child {
  margin-right: auto;
}

.main-nav a {
  color: black;
  display: block;
  border-radius: 0px;
  padding: 10px 10px;
  margin-top: 16px;
  text-decoration: none;
  font-family: "Avenir Next", "Open Sans", sans-serif;
}

.logo {
  padding: 0 !important;
  margin-top: 18px !important;
}

.contact-us {
  color: #4E6CE5 !important;
  border-radius: 50px !important;
  margin-top: 14px !important;
  border: 2px solid #4E6CE5;
  -webkit-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;;
}
.contact-us:hover {
  color: #FFF !important;
  background: #4E6CE5;
}

.advantages {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  font-family: "Avenir Next", "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
}

.reliability {
  height: 250px;
  border-radius: 50px;
  -webkit-box-shadow: 0 5px 5px rgba(230, 236, 248, 0.75), inset 0 10px 0 rgba(78, 108, 229, 1);
  box-shadow: 0 5px 5px rgba(230, 236, 248, 0.75), inset 0 10px 0 rgba(78, 108, 229, 1);
}

.quality {
  height: 250px;
  border-radius: 50px;
  -webkit-box-shadow: 0 5px 5px rgba(230, 236, 248, 0.75), inset 0 10px 0 rgba(78, 108, 229, 1);
  box-shadow: 0 5px 5px rgba(230, 236, 248, 0.75), inset 0 10px 0 rgba(78, 108, 229, 1);
}

.speed {
  height: 250px;
  border-radius: 50px;
  -webkit-box-shadow: 0 5px 5px rgba(230, 236, 248, 0.75), inset 0 10px 0 rgba(78, 108, 229, 1);
  box-shadow: 0 5px 5px rgba(230, 236, 248, 0.75), inset 0 10px 0 rgba(78, 108, 229, 1);
}

span {
  font-family: "Avenir Next", "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 500;
}

.hero {
  width: 100%;
  height: 505px;
  max-width: 1100px;
  margin: 0 auto;
  font-family: "Avenir Next", "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
}

h1 {
  font-family: "Avenir Next", "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.about-bg {
  width: 100%;
  height: 263px;
  background: #4E6CE5;
}

.about {
  width: 100%;
  height: 263px;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  font-family: "Avenir Next", "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
  color: #FFF;
}

h2 {
  font-family: "Avenir Next", "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  color: #FFF;
}

.work {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.work-bg {
  -webkit-box-shadow: 0 5px 5px rgba(230, 236, 248, 0.5);
  box-shadow: 0 5px 5px rgba(230, 236, 248, 0.5);
  background: #FFF;
  border-radius: 50px;
  height: 747px;
  border: 1px solid #E6ECF8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.design {
  border-right: 1px solid #E6ECF8;
  padding-top: 72px;
  font-family: "Avenir Next", "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
}

.code {
  padding-top: 72px;
  font-family: "Avenir Next", "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
}

.mentor {
  border-left: 1px solid #E6ECF8;
  padding-top: 72px;
  font-family: "Avenir Next", "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
}

h3 {
  font-family: "Avenir Next", "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin: 24px auto;
  color: #000;
}

.design h4 {
  font-family: "Avenir Next", "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
  color: #4E6CE5;
  margin: 50px 8px auto;
}

.code h4 {
  font-family: "Avenir Next", "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
  color: #4E6CE5;
  margin: 50px 8px auto;
}

.mentor h4 {
  font-family: "Avenir Next", "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
  color: #4E6CE5;
  margin: 50px 8px auto;
}
